# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environment variables (sensitive data)
.env
*.env
!.env.example

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
*.iws
*.iml
*.ipr
.vscode/
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.apt_generated

# Build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
logs/
*.log

# Other
HELP.md
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
